<ons-page ng-controller="NewsManageController">
	<ons-toolbar>
		<div class="left">
			<ons-back-button>กลับ</ons-back-button>
		</div>
		<div class="center">จัดการข่าวสารโปรโมชัน</div>
		<div class="right">
			<ons-toolbar-button>
			<ons-icon icon="fa-plus" onclick="adminNav.pushPage('admin/pages/news_manage_add.html', {animation: 'lift'})"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>

	<ons-list modifier="inset"> 
		<ons-list-item ng-repeat="data in datas" ng-click="editPage(data._id)" modifier="chevron" class="item"> 
			<ons-row> 	
				<ons-col width="60px">
					<img src="http://localhost:4400{{data.picUrl}}" class="to-image">
				</ons-col> 
				<ons-col> 
					<header>
						<span class="item-title">{{data.title}}</span> 
						<span class="item-label">
							{{data.date | date:'dd/MM/yyyy HH:mm:ss'}}
						</span>
					</header>
					<p class="item-desc">
						{{data.content}}
					</p>
				</ons-col> 
			</ons-row>
		</ons-list-item>
	</ons-list>
</ons-page>