/* Map */
.angular-google-map-container { 
  height: 500px; 
}
/* --- */

.left {
	text-align: left;
}
.user-menu {
  color: white; 
  background-color: gray; 
  border-radius: 100%; 
  padding: 5px; 
  width: 100px; 
  height: 100px; 
  text-align:center;
  border: 3px solid black;
  -webkit-border-radius: 100%;
  
}
.index {
  background-image: url('img/bg.jpg');
  background-position: fixed;
  background-color: black;

}

/* CSS News */
.tab {
	line-height: 1;
}
.tab-icon {
	font-size: 24px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	line-height: 28px;
}

.tab-label {
	line-height: 11px;
	vertical-align: top;
	font-size: 11px;
}

.profile-wrapper {
	padding: 16px 10px 0 10px;
}

.profile-image {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	background-color: #ccc;
}

.profile-name {
	font-size: 18px;
	padding: 4px 0 2px 0;
}

.profile-email {
	font-size: 15px;
	opacity: 0.4;
}

.switch--list-item {
	margin-right: 0px;
}

.settings-header {
	font-weight: 500;
	font-size: 14px;
	opacity: 0.4;
	padding: 10px 0 0px 10px;
	margin-bottom: -4px;
}

.settings-list {
	margin-top: 10px;
}

/* CSS news */
.item {
	padding: 10px;
	line-height: 1;
}

.item-thum {
	background-color: #ccc;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
}

.item-title {
	font-size: 15px;
	font-weight: 500;
}

.item-desc {
	font-size: 14px;
	color: #666;
	line-height: 1.3;
	margin: 4px 0 0 0;
	padding: 0 30px 0 0;
}

.item-label {
	font-size: 12px;
	color: #999;
	float: right;
}

.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.text-input {
  margin-top: 4px;
}

.textarea {
  margin-top: 4px;
}


/* CSS Sliding Menu */
.page--menu-page__background {
  background-color: #333;
  color: white;
}

.menu-close,
.menu-close > .toolbar-button {
  color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item {
  background-color: transparent;
  background-image: none !important;
  border-color: transparent;
  color: #fff;
}

.menu-item {
  padding: 0 0 0 20px;
  line-height: 52px;
  height: 52px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item {
  border-color: #393939;
  background-color: transparent;
  background-image: none !important;
  color: #ccc;
}

.bottom-menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

/* CSS Login */
.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=text], input[type=password] {
  display: block;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}


/* CSS Form */
.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}

.form-row {
  margin: 4px;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 48%;
}

.lucent {
  opacity: 0.8;
}

.note {
  margin: 12px 8px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.vspc {
  margin-top: 20px;
}

.formarea {
  width: 90%;
  margin: 50px auto 0px auto;
}

input[type=text],
input[type=password] {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-item-action {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
  color: red;
  opacity: 0.9;
}

.list-item-action > ons-icon {
  margin-top: 12px;
}

/* CSS shop detail */
.page--shop-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
}

.card {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 250px;
  opacity: 0.7;
}

.card-toolbar ons-back-button span {
  color: white;
}

.card-name {
  font-weight: 600;
  font-size: 20px;
  padding: 66px 0 8px 0;
  text-align: center;
}

.card-desc {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  text-align: center;
  line-height: 1.4;
}

.rating {
  text-align: center;
  position: relative;
  height: 0px;
}

.rating-num {
  position: relative;
  top: -24px;
  height: 24px;
  color: white;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 0 6px;
  background-color: #eb482f;
  color: white;
  width: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.rating-num ons-icon {
  font-size: 11px;
  vertical-align: -0px;
}

.action-col {
  text-align: center;
  opacity: 0.4;
  padding: 10px 0 8px;
}

.action-col:active {
  opacity: 0.7;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.action-icon {
  padding: 0 0 4px 0;
}

.action-icon ons-icon {
  font-size: 28px;
}

.action-label {
  font-size: 12px;
}

.prop-desc {
  font-size: 14px;
  opacity: 0.7;
}

.prop-desc ons-icon {
  font-size: 14px;
  vertical-align: -0px;
  opacity: 0.5;
}

/* CSS profile */
.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.profile-detail {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: right;
  margin: 0 auto;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
}