<ons-page ng-controller="UserController" style="background-image: url('img/bg-user.jpg');">
	<ons-toolbar>
		<div class="left">
			<ons-back-button></ons-back-button>
		</div>
		<div class="right">
			<ons-toolbar-button ng-click="myNav.resetToPage('index.html')">
				<ons-icon icon="ion-log-out"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>

	<ons-row style="background-color: transparent; padding: 10px;">
		<div style="border-radius: 10px; background-image: url('img/bg.jpg'); background-size: cover; width: 100%;">
			<ons-row style="margin-bottom: 50px; background-color: black; opacity: 0.7;" >
				<ons-col></ons-col>
				<ons-col width="200px" class="font-card-point">
					<span>{{ userlog.points }}</span> คะแนน
				</ons-col>
			</ons-row>
			<ons-row style="padding: 10px;">
				<ons-col width="200px" class="font-card-detail">
					{{ user.name + ' ' + user.lastname }}
				</ons-col>
				<ons-col></ons-col>
			</ons-row>
			<ons-row style="padding: 10px;">
				<ons-col width="200px" class="font-card-detail">
					{{ user.tel }}
				</ons-col>
				<ons-col></ons-col>
			</ons-row>
		</div>
	</ons-row>

	<div align="center" style="color: gray;">
		<b>Updates : {{ update }}</b>
	</div>

	<ons-row style="margin-top: 10px; padding: 20px;">
		<ons-col width="50%">
			<ons-row>
				<ons-col width="50%">
					<div class="icon-mycard" style="background-color: brown;" ng-click="myNav.pushPage('user/shop.html')">
						<ons-icon icon="fa-home" size="35px"></ons-icon>
					</div>
				</ons-col>

				<ons-col width="50%">
					<div class="icon-mycard" style="background-color: green;" ng-click="myNav.pushPage('user/map.html')">
						<ons-icon icon="fa-map-marker" size="35px"></ons-icon>
					</div>
				</ons-col>
			</ons-row>
			<ons-row style="margin-top: 15px;">
				<ons-col width="50%" ng-controller="AppController">
					<div class="icon-mycard" style="background-color: orange;" ng-click="rewardslist()">
						<ons-icon icon="ion-help" size="35px"></ons-icon>
					</div>
				</ons-col>

				<ons-col width="50%">
					<div class="icon-mycard" style="background-color: blue;" ng-click="">
						<ons-icon icon="fa-facebook-square" size="35px"></ons-icon>
					</div>
				</ons-col>
			</ons-row>
		</ons-col>

		<ons-col width="50%" align="right">
			<div class="icon-mycard-qrcode" style="background-color: black;" ng-click="myNav.pushPage('user/card_qrcode.html')">
				<ons-icon icon="fa-qrcode" size="80px"></ons-icon>
			</div>
		</ons-col>
	</ons-row>

</ons-page>