<ons-page ng-controller="UserController" ng-init="listUserlog()">
	<!--
	<ons-toolbar>
		<div class="left">
			<ons-back-button></ons-back-button>
		</div>
	</ons-toolbar>
	-->
	
	<ons-list> 
		<ons-list-item class="item" style="background-image: url('img/bg-user.jpg');"> 
			<ons-row> 
				<ons-col width="40%">
					<img class="mycard" />
				</ons-col> 
				<ons-col width="50%">
					<ons-row style="margin: 20px auto auto 15px; color: white;">
						<ons-col>
							คะแนนปัจจุบัน : 
							<font color="red"><b>{{ userlog.points }}</b></font>
						</ons-col>
					</ons-row>
					<ons-row style="margin: 10px auto auto 15px; color: white;">
						<ons-col>
							ID : 
							<font color="red"><b>{{ user.tel }}</b></font>
						</ons-col>
					</ons-row>
				</ons-col> 
			</ons-row>
		</ons-list-item>

		<ons-list-item ng-repeat="data in datas" class="item" style="border-bottom: 2px dashed gray;">
			<ons-row style="margin-top: 5px;"> 
				<ons-col>
					<ons-icon ng-if="data.point > 0" icon="fa-plus-square" style="color: green"></ons-icon> 
					<ons-icon ng-if="data.point < 0" icon="fa-minus-square" style="color: red"></ons-icon> 
					{{ data.point }} แต้ม
				</ons-col>
				<ons-col>
					<font color="gray" size="2"> 
						{{ data.date | date:'yyyy-MM-dd HH:mm' }}
					</font>
				</ons-col> 
			</ons-row>
		</ons-list-item>
	</ons-list> 

</ons-page>