<ons-page ng-controller="UserController" ng-init="listVouchers()">
	<!--
	<ons-toolbar>
		<div class="left">
			<ons-back-button></ons-back-button>
		</div>
	</ons-toolbar>
	-->
	
	<ons-list> 
		<ons-list-item class="item" style="background-image: url('img/bg-user.jpg');"> 
			<ons-row> 
				<ons-col width="40%">
					<img class="mycard" />
				</ons-col> 
				<ons-col width="50%">
					<ons-row style="margin: 20px auto auto 15px; color: white;">
						<ons-col>
							ใหม่ : 
							<font color="red"><b>{{ exchangingNew }}</b></font>
						</ons-col>
					</ons-row>
					<ons-row style="margin: 10px auto auto 15px; color: white;">
						<ons-col>
							ที่ใช้แล้ว : 
							<font color="red"><b>{{ exchangingUsed }}</b></font>
						</ons-col>
					</ons-row>
				</ons-col> 
			</ons-row>
		</ons-list-item>

		<ons-list-item ng-repeat="voucher in vouchers" ng-click="getVoucher(voucher.status, voucher._id)" modifier="tappable" class="item" style="border-bottom: 2px dashed gray;">
			<ons-row> 
				<ons-col width="60px">
					<img src="" height="60px" width="100%">
				</ons-col> 
				<ons-col> 
					<ons-row style="padding-left: 15px;">
						<ons-col>
							<b>{{ voucher._exchangingId.detail }}</b>
						</ons-col>
					</ons-row>
					<ons-row style="padding-left: 15px; margin-top: 10px;">
						<ons-col>
							<font color="red" size="2"> 
								Expire : {{ voucher._exchangingId.expire | date:'yyyy-MM-dd' }}
							</font>
						</ons-col>
					</ons-row>
				</ons-col> 
				<ons-col ng-if="voucher.status" width="50px">
					<ons-icon icon="fa-check" size="50px" style="color: green;">
				</ons-col>
			</ons-row>
		</ons-list-item>
	</ons-list> 
</ons-page>